[submodule "src/.zsh/spaceship-prompt"]
path = src/.zsh/spaceship-prompt
url = https://github.com/spaceship-prompt/spaceship-prompt.git

[submodule "src/.zsh/zsh-syntax-highlighting"]
path = src/.zsh/zsh-syntax-highlighting
url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "src/.zsh/zsh-autosuggestions"]
path = src/.zsh/zsh-autosuggestions
url = https://github.com/zsh-users/zsh-autosuggestions.git
